.Dot {
  height: 21px;
  width: 21px;
  border: 2px solid #666;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  position: relative;
}
.Dot > i {
  margin-top: 1px;
}
