.Slider {
  padding: 20px;
  .Track {
    background-color: #ddd;
    border-radius: 10px;
    height: 20px;
    display: flex;
    align-items: center;
  }

  .endcap {
    height: 15px;
    width: 15px;
    color: #444;
    background-color: #fff;
    border: 2px solid #666;
    border-radius: 100%;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .min {
    position: absolute;
    transform: translateX(-10px);
    span {
      transform: translate(-5px, -20px);
    }
  }
  .max {
    margin-left: auto;
    transform: translateX(10px);
    span {
      transform: translate(5px, -20px);
    }
  }

  .min > span,
  .max > span {
    line-height: 15px;
    color: #ccc;
    font-size: 0.7em;
  }

  .Value {
    display: flex;
    align-items: center;
    .value-box {
      width: 21px;
      height: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 1px;
      z-index: 1;
    }
    span {
      line-height: 21px;
    }
  }

  .Dot {
    color: #444;
    background-color: #fff;
    border: 2px solid #666;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 21px;
    width: 21px;
    z-index: 1;
  }
  .Dot > i {
    line-height: 21px;
  }

  .Ledgend {
    height: 21px;
    margin-top: 2px;
    .tick-box {
      width: 21px;
      height: 0px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      margin: 0 1px;
    }
    span {
      line-height: 21px;
    }
  }
}
