.wrapper {
  display: flex;
}

.Slider {
  background-color: #ddd;
  height: 20px;
  width: 500px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  // margin: 18px 0 2px 0;
}

.endCap {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 2px solid #444;
  border-radius: 100%;
}

.first {
  transform: translateX(15px);
}
.last {
  transform: translateX(-15px);
}
.Dot {
  height: 21px;
  width: 21px;
  border: 2px solid #666;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color:#fff;
  position: relative;
  color: #444;
  z-index: 1;
}
.Dot > i {
  margin-top: 1px;
  line-height: 21px;
}
